header{
  display: flex;
}

#nav-bar{
  overflow: hidden;
  background-color: rgb(238, 238, 238);
  position: fixed;
  top: 0;
  width: 100%;
}

#header-img {
  max-height: 4em;
  width: auto;
  border-radius: 40%;
  vertical-align: middle;
}

.logoContainer{
  display: flex;
  align-items: left;
  width: 100%;
}

.navLink{
  float: right;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 57em;
}

.nav-link{
  padding: 1em;
}

.logoText {
  display: flex;
  align-items: center;
  vertical-align: middle;
  margin: 0.2em;
}

.feature{
  text-align: center;
}

.design{
  text-align: center;
}

.pricing{
  text-align: center;
}

#video{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form {
  text-align: center;
}
#features{
  text-align: center;
}

body{
  padding: 16px;
  margin-top: 3em;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

#pricing {
  display: flex;

}
